@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Special Elite", serif;
  min-height: 200vh;
}

.page {
  background-color: #333;
  color: whitesmoke;
}

.content {
  margin: auto;
  background-color: whitesmoke;
  box-shadow: 3px 3px 3px 3px;
  width: 50%;
  padding: 10px;
}

section {
  height: 100vh;
}

header,
footer {
  color: #fff;
  text-align: center;
  height: 75px;
  padding: 0.5rem;
}

header {
  text-align: center;
  padding: 2%;
  position: sticky;
  top: 0;
  font-size: 2rem;
}

footer {
  background-color: #333;
  position: sticky;
  bottom: 0;
  font-size: 1rem;
  color: whitesmoke;
}

a:visited {
  color: #fff;
}

h2 {
  text-align: center;
  padding: 2%;
}

html {
  scroll-behavior: smooth;
}
