body,
html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
  scroll-behavior: smooth;
}

.header {
  min-height: 75%;
  background: url("./images/tasting.jpg") no-repeat center center fixed;
  background-color: rgba(0, 0, 0, 0.85);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
}

.w3-top,
h4 {
  font-family: "Poppins", sans-serif;
}

/* Shop Information section */
.section-break {
  min-height: 100%;
  background: url("./images/tasting.jpg") no-repeat center center fixed;
  filter: grayscale(50%);
  background-blend-mode: multiply;
  background-size: cover;
}
